// colors
$primary: #37082b;
$secondary: #190114;
$white: #fff;
$light-blue-200: #f5fafb;
$black-200: #f8f9fa;
$black-300: #e9ebef;
$black-400: #99989e;
$black-500: #80828d;
$black-600: #343a40;
$black-800: #1e1f24;
$black-footer: #0c131a;
$blue-800: #03a9f4;
$blue-900: #0dcaf0;
$blue-200: #f8f9ff;
$green-400: #198754;
$indigo: #6610f2;
$bluebtn: #5f3afc;
$purple: #6f42c1;
$pink: #e83e8c;
$red-400: #d2173f;
$yellow-600: #f8d315;
$light-grey: #bfbebe;
$grey-200: #f2f2f2;

// --red: #dc3545;
// --orange: #fd7e14;
// --yellow: #ffc107;
// --green: #28a745;
// --teal: #20c997;
// --cyan: #17a2b8;
// --white: #fff;
// --gray: #6c757d;
// --gray-dark: #343a40;
// --primary: #007bff;
// --secondary: #6c757d;
// --success: #28a745;
// --info: #17a2b8;
// --warning: #ffc107;
// --danger: #dc3545;
// --light: #f8f9fa;
// --dark: #343a40;

// boxshadow
$gray-border: 1px solid #e9ebef;
$gray-border-200: 1px solid #eff0f3;
$light-shadow: 1px 0px 4px 4px rgba(137, 137, 137, 0.07);

// font-weight
$fw-extrabold: 800;
$fw-bold: 700;
$fw-semibold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;
$fw-extralight: 200;

// font-sizes
$hero-font: 64px;
$heading-font: 46px;
$subheading-font: 42px;
$xxl-title-font: 36px;
$xl-title-font: 32px;
$lg-title-font: 28px;
$md-title-font: 24px;
$sm-title-font: 22px;
$xs-title-font: 20px;
$xxs-title-font: 18px;
$base-font: 16px;
$sm-base-font: 14px;
$xs-base-font: 12px;
