.inner-banner_wrapper {
  background: url(https://assets.cegbet.com/front-end/assets/images/inner-banner/cardbg.webp);
  top: 0;
  padding: 24px 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.inner-banner_wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2e0327;
  box-sizing: border-box;
  opacity: 0.75 !important;
}

.dashboard-section {
  background: url(https://assets.cegbet.com/front-end/assets/images/banner/cegbackground.webp);
  top: 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.dashboard-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #350b2d;
  opacity: 1;
  box-sizing: border-box;
}
.dashboard-section .offcanvas-body_wraper {
  position: static;
  height: auto;
  visibility: visible;
  opacity: 1;
  background: #2E0327;
  transform: none;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 10px;
  text-align: center;
  padding: 28px 0;
}
.dashboard-section .offcanvas-body_wraper .user-profile_wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.dashboard-section .offcanvas-body_wraper .user-profile_wraper .image_wraper {
  width: 80px;
  height: 80px;
  border-radius: 1px solid orange;
  border: 1px solid orange;
  border-radius: 50%;
}
.dashboard-section .offcanvas-body_wraper .user-profile_wraper .image_wraper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 0.7px;
}
.dashboard-section .offcanvas-body_wraper .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: white;
  margin-bottom: 16px;
}
.dashboard-section .offcanvas-body_wraper .user-info .user-welcome {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}
.dashboard-section .offcanvas-body_wraper .user-info .user-welcome .user-name {
  margin-left: 8px;
  font-weight: 500;
}
.dashboard-section .offcanvas-body_wraper .user-info .balance-content {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
.dashboard-section .offcanvas-body_wraper .user-acc_wraper {
  color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-bottom: 16px;
}
.dashboard-section .offcanvas-body_wraper .user-acc_wraper .acc-info_box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
}
.dashboard-section .offcanvas-body_wraper .user-acc_wraper .acc-info_box .icon_wraper {
  width: 42px;
  height: 42px;
  background: #e87100;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-section .offcanvas-body_wraper .user-acc_wraper .acc-info_box .text-info {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: white !important;
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper {
  margin: 0;
  padding: 0;
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper .user-dashboard-tab {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper .user-dashboard-tab .tab-item {
  position: relative;
  border-bottom: 1px solid rgba(232, 112, 0, 0.1215686275);
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper .user-dashboard-tab .tab-item:last-child {
  border: none;
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper .user-dashboard-tab .tab-item .tab-item_link {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper .user-dashboard-tab .tab-item .tab-item_link:hover {
  background-color: #e87100;
  color: #fff;
}
.dashboard-section .bonus-request_wraper {
  position: static;
  height: auto;
  visibility: visible;
  opacity: 1;
  background: #350b2d;
  transform: none;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.168627451);
  border-radius: 10px;
  text-align: center;
  padding: 28px;
}
.dashboard-section .user-info-table_wraper {
  margin-top: 3rem;
  margin-bottom: 15px;
  padding: 0;
}
.dashboard-section .user-info-table_wraper .search-section {
  margin-bottom: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.dashboard-section .user-info-table_wraper .search-section .data-table_lenght {
  width: 200px;
}
.dashboard-section .user-info-table_wraper .search-section .data-table_lenght label {
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
}
.dashboard-section .user-info-table_wraper .search-section .data-table_lenght label .data-number {
  color: #333;
  margin: 0 4px;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  outline: none;
  border-color: transparent;
  box-shadow: none;
  padding: 2px 6px;
}
.dashboard-section .user-info-table_wraper .search-section .data-table_lenght label .data-number:focus-visible {
  border-color: transparent;
  box-shadow: none;
}
.dashboard-section .user-info-table_wraper .search-section .search-data {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Poppins, sans-serif;
}
.dashboard-section .user-info-table_wraper .search-section .search-data .seach-title {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0;
}
.dashboard-section .user-info-table_wraper .search-section .search-data input {
  padding: 2px 6px;
  font-size: 12x;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 132px;
}
.dashboard-section .user-info-table_wraper .search-section .search-data input:focus-visible {
  box-shadow: none;
  border-color: transparent;
  outline: none;
}
.dashboard-section .user-info-table_wraper .table-data-section {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: white;
  background-color: #2E0327;
}
.dashboard-section .user-info-table_wraper .table-data-section th {
  background: linear-gradient(0deg, #ff9c19 40%, #ff7e02 110%);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: black;
}
.dashboard-section .user-info-table_wraper .table-data-section th, .dashboard-section .user-info-table_wraper .table-data-section td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.17);
}
.dashboard-section .user-info-table_wraper .table-data-section tbody tr:nth-child(even) {
  background-color: #421032;
}
.dashboard-section .user-info-table_wraper .table-data-section tbody tr td {
  color: #fff;
  vertical-align: middle;
  padding: 10px 15px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.17);
  font-size: 14px;
}
.dashboard-section .user-info-table_wraper .table-data-section tbody tr td .account-list-details {
  margin: 0;
  padding: 0;
}
.dashboard-section .user-info-table_wraper .table-data-section tbody tr td .account-list-details .details {
  font-size: 12px;
  line-height: 1.3;
  margin: 0 auto;
}
.dashboard-section .user-info-table_wraper .table-footer-entries {
  display: flex;
  align-self: center;
  justify-content: center;
  color: #fff;
  margin-top: 1px;
}
.dashboard-section .user-info-table_wraper .table-footer-entries .showing {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.7;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
.dashboard-section .user-info-table_wraper .dashboard-pagination {
  margin-top: 16px;
}
.dashboard-section .user-info-table_wraper .dashboard-pagination .pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: center;
}
.dashboard-section .user-info-table_wraper .dashboard-pagination .pagination-list .pagination-item {
  width: 35px;
  height: 35px;
  background: #350b2d;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-section .user-info-table_wraper .dashboard-pagination .pagination-list .pagination-item .pagination-link {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 35px;
  padding: 0;
  text-decoration: none;
}/*# sourceMappingURL=bonus.css.map */