.inner-banner_wrapper {
  background: url(https://assets.cegbet.com/front-end/assets/images/inner-banner/cardbg.webp);
  top: 0;
  padding: 24px 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.inner-banner_wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2e0327;
  box-sizing: border-box;
  opacity: 0.75 !important;
}

.dashboard-section {
  background: url(https://assets.cegbet.com/front-end/assets/images/banner/cegbackground.webp);
  top: 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.dashboard-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2e0327;
  opacity: 0.8;
  box-sizing: border-box;
}
.dashboard-section .offcanvas-body_wraper {
  position: static;
  height: auto;
  visibility: visible;
  opacity: 1;
  background: #2E0327;
  transform: none;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 10px;
  text-align: center;
  padding: 28px 0;
}
.dashboard-section .offcanvas-body_wraper .user-profile_wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.dashboard-section .offcanvas-body_wraper .user-profile_wraper .image_wraper {
  width: 80px;
  height: 80px;
  border-radius: 1px solid orange;
  border: 1px solid orange;
  border-radius: 50%;
}
.dashboard-section .offcanvas-body_wraper .user-profile_wraper .image_wraper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 0.7px;
}
.dashboard-section .offcanvas-body_wraper .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: white;
  margin-bottom: 16px;
}
.dashboard-section .offcanvas-body_wraper .user-info .user-welcome {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}
.dashboard-section .offcanvas-body_wraper .user-info .user-welcome .user-name {
  margin-left: 8px;
  font-weight: 500;
}
.dashboard-section .offcanvas-body_wraper .user-info .balance-content {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
.dashboard-section .offcanvas-body_wraper .user-acc_wraper {
  color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-bottom: 16px;
}
.dashboard-section .offcanvas-body_wraper .user-acc_wraper .acc-info_box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
}
.dashboard-section .offcanvas-body_wraper .user-acc_wraper .acc-info_box .icon_wraper {
  width: 42px;
  height: 42px;
  background: #e87100;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-section .offcanvas-body_wraper .user-acc_wraper .acc-info_box .text-info {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: white !important;
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper {
  margin: 0;
  padding: 0;
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper .user-dashboard-tab {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper .user-dashboard-tab .tab-item {
  position: relative;
  border-bottom: 1px solid rgba(232, 112, 0, 0.1215686275);
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper .user-dashboard-tab .tab-item:last-child {
  border: none;
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper .user-dashboard-tab .tab-item .tab-item_link {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.dashboard-section .offcanvas-body_wraper .user-dashboard_wraper .user-dashboard-tab .tab-item .tab-item_link:hover {
  background-color: #e87100;
  color: #fff;
}
.dashboard-section .customer-notification_wraper {
  margin: 0;
  padding: 0;
}
.dashboard-section .customer-notification_wraper .customer-card {
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  background: #350b2d;
  border-radius: 10px;
  overflow: hidden;
}
.dashboard-section .customer-notification_wraper .customer-card .header {
  display: inline-block;
  line-height: 1.7;
}
.dashboard-section .customer-notification_wraper .customer-card .header .header-link {
  text-decoration: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
.dashboard-section .customer-notification_wraper .customer-card .notification-date {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #198754 !important;
  margin-bottom: 0;
}/*# sourceMappingURL=notification.css.map */